.container,
.main {
  background-color: blueviolet;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.main {
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer {
  background-color: rgb(116, 30, 30);
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -300px;
  transition: all 0.8s ease-in-out;
}

.openedDrawer {
  right: 0;
  transition: all 0.8s ease-in-out;
}

.btn {
  position: fixed;
  top: 10px;
  left: 20px;
  color: white;
  cursor: pointer;
  font-size: 50px;
  z-index: 10;
}

.head {
  color: brown;
  font-size: 100px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.head.openedText {
  left: -300px;
  opacity: 0;
  transition: all 0.6s;
}
